<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Need-A-Nanny</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Chelsea+Market|Lobster+Two:700|Love+Ya+Like+A+Sister|Merienda+One" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- CSS STYLE SHEET -->
  <link rel="stylesheet" type="text/css" href="assets/css/listing.css">
  <!-- ICON -->
  <link rel="shortcut icon" type="img/png" href="assets/images/baby.png">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light col-md-12 header">
      <img src="assets/images/baby.png" alt="Baby" height="60px" width="100px">
      <!-- nav left -->
      <div class="header-title text-center">
        <p>City Sitters!</p>
      </div>
      <!-- nav right -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item nav-buttons">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item nav-buttons">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          {{!-- <li class="nav-item nav-buttons">
            <a class="nav-link" href="dashboard.html">Dashboard</a>
          </li> --}} 
          <li class="nav-item active nav-buttons">
            <a class="nav-link" href="/signin">Log In</a>
          </li>
          <li class="nav-item nav-buttons">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>
  <!-- ============================================= -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Job Listings
        <small><p>find your sitter here</p></small>
      </h1>
      <hr>

{{!-- Handle Bars for job post --}}
      {{#each listings}}
      <div class="row">
        <div class="col-md-12">
          <h3>Job</h3>
         
<h1>(Looking for babysitter for a night out)</h1>
     <h2> {{location}} </h2>
     <h2> {{duration}}</h2>
     <h2> {{dateTime}}</h2>
     <h2> {{payRate}}</h2>
     <h2> {{totalKids}}</h2>
     <h2> {{description}}</h2>     
      
          <a class="btn btn-primary" href="#">Delete or Contact here ? not sure if needed</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>
      {{/each}}

      
      <!-- /.row -->

      
      <footer>
          <div class="container">
              <div class="row">
                <div class="col-sm-12">
                    <div class="footer-text">~connecting parents with quality childcare since 1968~</div>
                  </div>
                </div>
              </div>
      </footer>



      <script type="text/javascript" src="/public/assets/js/listings.js"></script>



</body>
</html>

