<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Need-A-Nanny</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Chelsea+Market|Lobster+Two:700|Love+Ya+Like+A+Sister|Merienda+One" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- CSS STYLE SHEET -->
  <link rel="stylesheet" type="text/css" href="assets/css/listing.css">
  <!-- ICON -->
  <link rel="shortcut icon" type="img/png" href="assets/images/baby.png">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light col-md-12 header">
        <img src="assets/images/baby.png" alt="Baby" height="60px" width="100px">

        <div class="header-title text-center">
          <p>City Sitters</p>
        </div>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active nav-buttons">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            {{!-- <li class="nav-item nav-buttons">
              <a class="nav-link" href="/about">About Us</a>
            </li> --}}
            <li class="nav-item nav-buttons">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item nav-buttons">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
            {{!-- <li class="nav-item nav-buttons">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li> --}}
          </ul>
        </div>
    </nav>
  <!-- ============================================= -->
    <div class="container">

      <h1>Job Posting List</h1>
      <hr>
  
      {{#each listings}}
      <div class="row" style="margin-top:20px;">
        <div class="col-md-9"> <!-- Image -->
        
        
          <h5 class="profile-name">{{description}}</h5>
          <div class="profile-info">
                        <div class="info"><span class="">Location:</span> {{location}}</div>
                        <div class="info"><span class="">Frequency:</span> {{duration}}</div>
                        <div class="info"><span class="">Number of Kids:</span> {{totalKids}}</div>
                        <div class="info"><span class="">Hourly Rate:</span> {{payRate}}</div>
        </div>
        </div>

        <div class="col-md-3 "> <!-- Phone & Social -->
          <span class="number" style="font-size:18px">Phone:<strong>087-260-999</strong></span>
          <div class="button" style="padding-top:18px">
            <a href="" class="btn btn-outline-secondary btn-block">Send Email</a>
          </div>
        </div>
        </div>
        <hr>
        {{/each}}

        </div>

      
      <footer>
          <div class="container">
              <div class="row">
                <div class="col-sm-12">
                    {{!-- <div class="footer-text">~connecting parents with quality childcare since 1968~</div> --}}
                  </div>
                </div>
              </div>
      </footer>



      <script type="text/javascript" src="/public/assets/js/listings.js"></script>



</body>
</html>

